* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
}

html {
  font-size: 67.5%;
  @include respond(hd) {
    font-size: 57%;
  }
  @include respond(ipad) {
    font-size: 70%;
  }
  @include respond(tab-phone) {
    font-size: 55%;
  }
}

body {
  background-color: $color-black;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.App {
  position: absolute;
  width: 100%;
}
