@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

nav {
  font-size: 1.7rem;
  font-weight: 600;
}

.banner {
  font-size: 4.2rem;
  font-weight: 800;
  color: $color-white;

  & h4 {
    color: rgba($color-white, 0.5);
    font-weight: 500;
    font-size: 1.4rem;

    & i {
      color: $color-white;
      font-style: normal;
    }
  }

  &__overview {
    color: $color-grey-light;
    font-size: 2.8rem;

    @include respond(ipad) {
      font-size: 1.4rem;
    }
  }
}

.row {
  & h2 {
    text-transform: uppercase;
    font-size: 3rem;
  }
}
